<% layout("layouts/boilerplate.ejs") %>
<% block('head').append('<link rel="stylesheet" href="/css/wardensignup.css">') %>




<div class="applyOuting" >
    <h1 class="applyOuting-heading">Login</h1>
    <div class="applyOuting-card">
        <form class="form" action="/warden/login" method="POST">
            <div class="mb-3">
                <label for="username">User Name</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="username">
            </div>
            
            <div class="mb-3">
                <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="password">
            </div>
            
            <div class="text-center">
                <button class="btn btn-primary">Submit</button>
    
            </div>
            
        </form>
    </div>
</div>

<script>
    const item=document.getElementById("item4");
    item.classList.add("active");
</script>
<% block('footer').append("") %>
