<% layout("layouts/boilerplate.ejs") %>
<% block('head').append('') %>

<h1>Warden Page</h1>

<div class="wardern">
    <p><%= wardern %></p>
    <% if(wardern.outingRequest && wardern.outingRequest.length>0){ %>
        <% for(let i=0;i<wardern.outingRequest.length;i++){ %>
            <a href=""><%= wardern.outingRequest[i]._id %></a>
        <% } %>
    <% } %>
</div>

<% block('footer').append("") %>